mixin recommend(link, image, title, summary, date, events, info)
    li.recommend__item()
        a.news__title.ellipsis(href= link)
            .recommend__imgwrap
                img.recommend__img.coverfit(src= image)
            h3.recommend__title= title
            p.recommend__summary= summary 
        .recommend__meta 
            span.recommend__date=date 
            //- span.recommend__category=category   
            span.recommend__category-events=events 
            span.recommend__category-info=info 

mixin news(link, image, title, summary, date, href, events, info) 
    li.news__item 
        a.news__title.news__content.ellipsis(href= link)
            img.coverfit(src= image)
            .news__info 
                h3= title 
                p.news__summary= summary  
        .news__meta 
            .news__date= date   
            //- a.news__category(href=href)= type
            a.news__category-events(href=href)= events
            a.news__category-info(href=href)= info   

mixin item(name)
    li.category__item= name

.body
    ul.recommend
        +recommend('https://genshin.hoyoverse.com/en/news/detail/28380','/images/ayato.jpg', 'Genshin Impact EP - Strolling Beneath a Moon Awaiting Spring', "At year's end, the cold winds utter breaths of absolute silence as fallen leaves encase the world entire.", 'Dec 27, 2022','', 'Thông tin' ) 
        +recommend('https://genshin.hoyoverse.com/en/news/detail/28358','/images/ayato,ei.jpg', 'HoYoLAB x Prime Gaming Event: Kamisato Ayato and Raiden Shogun Reruns: Take Part in the Topic Events to Win Primogems', "This time, we'll be meeting Kamisato Ayato and Raiden Shogun! Come take part in the discussion events~", 'Dec 27, 2022','Sự kiện', '') 
        +recommend('https://genshin.hoyoverse.com/en/news/detail/28315','/images/bannerei.jpg', 'Event Wishes Reign of Serenity," "Azure Excursion," and "Epitome Invocation" Announcement', 'Event Wishes "Reign of Serenity," "Azure Excursion," and "Epitome Invocation" Announcement', 'Dec 22, 2022','', 'Thông tin')                                        
        li.recommend__item-carousel
            a.news__title.ellipsis(href='https://genshin.hoyoverse.com/en/news/detail/28380')
                .recommend__imgwrap
                    img.recommend__img.coverfit(src= '/images/ayato.jpg')
                h3.recommend__title Genshin Impact EP - Strolling Beneath a Moon Awaiting Spring
                p.recommend__summary "At year's end, the cold winds utter breaths of absolute silence as fallen leaves encase the world entire."
            .recommend__meta 
                span.recommend__date Dec 27, 2022                                
                span.recommend__category-info Thông tin
        li.recommend__item-carousel
            a.news__title.ellipsis(href='https://genshin.hoyoverse.com/en/news/detail/28380')
                .recommend__imgwrap
                    img.recommend__img.coverfit(src= '/images/ayato,ei.jpg')
                h3.recommend__title HoYoLAB x Prime Gaming Event: Kamisato Ayato and Raiden Shogun Reruns: Take Part in the Topic Events to Win Primogems
                p.recommend__summary "This time, we'll be meeting Kamisato Ayato and Raiden Shogun! Come take part in the discussion events~""
            .recommend__meta 
                span.recommend__date Dec 27, 2022                                
                span.recommend__category-info Sự kiện
        //- button.carousel-control-prev(type='button', data-bs-target='#carouselExampleAutoplaying', data-bs-slide='prev')
        //-     span.carousel-control-prev-icon(aria-hidden='true')
        //-     span.visually-hidden Previous
        //- button.carousel-control-next(type='button', data-bs-target='#carouselExampleAutoplaying', data-bs-slide='next')
        //-     span.carousel-control-next-icon(aria-hidden='true')
        //-     span.visually-hidden Next
    ul.category 
        li.category__item.category__item--active Latest
        +item('Info')
        +item('Updates')
        +item('Events')                                                 
    ul.news 
        +news('https://genshin.hoyoverse.com/en/news/detail/28230', '/images/paimon.jpg', 'Twitter #WishesfromTeyvat Celebration Event Rules', "Win prizes such as official Genshin Impact merchandise and Amazon gift cards worth 75 USD!", 'Dec 27, 2022' , 'https://genshin.hoyoverse.com/en/news/11','', 'Info')
        +news('https://genshin.hoyoverse.com/en/news/detail/28380', '/images/ayato.jpg', 'Genshin Impact EP - Strolling Beneath a Moon Awaiting Spring', "At year's end, the cold winds utter breaths of absolute silence as fallen leaves encase the world entire.", 'Dec 27, 2022', 'https://genshin.hoyoverse.com/en/news/11','', 'Info')
        +news('https://genshin.hoyoverse.com/en/news/detail/28358', '/images/ayato,ei.jpg', 'HoYoLAB x Prime Gaming Event: Kamisato Ayato and Raiden Shogun Reruns: Take Part in the Topic Events to Win Primogems', "This time, we'll be meeting Kamisato Ayato and Raiden Shogun! Come take part in the discussion events~", 'Dec 27, 2022','https://genshin.hoyoverse.com/en/news/13', 'Events', '')
        +news('https://genshin.hoyoverse.com/en/news/detail/28321', '/images/scara.jpg', '"All Senses Clear, All Existence Void" Version 3.3 Events Preview - Phase II', "Hello Travelers! Let's take a look at the upcoming events!", 'Dec 22, 2022', 'https://genshin.hoyoverse.com/en/news/11','', 'Info')
        +news('https://genshin.hoyoverse.com/en/news/detail/28315', '/images/bannerei.jpg', 'Event Wishes "Reign of Serenity," "Azure Excursion," and "Epitome Invocation" Announcement', 'Event Wishes "Reign of Serenity," "Azure Excursion," and "Epitome Invocation" Announcement', 'Dec 22, 2022', 'https://genshin.hoyoverse.com/en/news/11','', 'Info')
        li.news__more More